In [1]:
import pandas as pd
# import requests
# from bs4 import BeautifulSoup
# from selenium import webdriver
# from time import sleep
# import re

# driver = webdriver.Chrome(executable_path=r"C:\Users\Mark\Anaconda3\selenium\webdriver\chrome\chromedriver.exe")

In [ ]:
# driver.get('http://www.lawhiskeysociety.com/whiskey_list.php?brand=&dist=&order=name&asc=ASC&page=0&f_records=100000&f_alpha=&f_reset=1&f_a_reset=0&f_multiple=0&f___type=0&f_subtype=0&f_member=25&f_added=1260&f_most_notes=1')

In [ ]:
# html = driver.page_source
# soup = BeautifulSoup(html, 'lxml')

In [ ]:
# whiskey's reviewed within the last 3.5 years
# got rid of > $1000, ratings of F, no price

# NAS Year -- no age statment
# OB Bottler -- original bottlings

In [4]:
df_whiskey = pd.read_csv('./Scraped_Data/df_whiskey.csv')

In [5]:
df_whiskey.head()

,whiskey,url,age,bottler,price,average_rating,personal_rating
0,Aberlour 12 Year Old Non Chill-filtered,http://www.lawhiskeysociety.com/whiskey-profil...,12 yrs,Aberlour,$50,B,B-
1,Aberlour A'bunadh Batch 46,http://www.lawhiskeysociety.com/whiskey-profil...,NaN,OB,$65,B,B+
2,Aberlour A'bunadh Batch 47,http://www.lawhiskeysociety.com/whiskey-profil...,NaN,OB,$65,B,B
3,Aberlour A'bunadh Batch 50,http://www.lawhiskeysociety.com/whiskey-profil...,NaN,OB,$65,B,B
4,Amrut Rye,http://www.lawhiskeysociety.com/whiskey-profil...,5 yrs,OB,$180,C+,B

In [3]:
# grades = {'A': 5, 'A-': 4.75, 'B+': 4.25, 'B': 4, 'B-': 3.75, 'C+': 3.25, 'C': 3, 'C-': 2.75, 'D+': 2.25, 'D': 2, 'D-': 1.75}

In [7]:
grades = {'A': 5, 'A-': 4.5, 'B+': 4.25, 'B': 4, 'B-': 3.5, 'C+': 3.25, 'C': 3, 'C-': 2.5, 'D+': 2.25, 'D': 2, 'D-': 1.5}

In [6]:
df_whiskey['average_rating'].value_counts()

B     89
B-    42
C+    40
B+    32
C     16
A-     5
C-     5
D      3
D+     3
Name: average_rating, dtype: int64

In [10]:
df_whiskey['average_rating'] = df_whiskey['average_rating'].replace(grades)
df_whiskey['personal_rating'] = df_whiskey['personal_rating'].replace(grades)

In [11]:
df_whiskey.head()

,whiskey,url,age,bottler,price,average_rating,personal_rating
0,Aberlour 12 Year Old Non Chill-filtered,http://www.lawhiskeysociety.com/whiskey-profil...,12 yrs,Aberlour,$50,4.00,3.50
1,Aberlour A'bunadh Batch 46,http://www.lawhiskeysociety.com/whiskey-profil...,NaN,OB,$65,4.00,4.25
2,Aberlour A'bunadh Batch 47,http://www.lawhiskeysociety.com/whiskey-profil...,NaN,OB,$65,4.00,4.00
3,Aberlour A'bunadh Batch 50,http://www.lawhiskeysociety.com/whiskey-profil...,NaN,OB,$65,4.00,4.00
4,Amrut Rye,http://www.lawhiskeysociety.com/whiskey-profil...,5 yrs,OB,$180,3.25,4.00